<div class="container">
  <ng-container *ngIf="imageCoordinates$ | async as coords">
    <img
      [src]="image$ | async"
      #img
      [className]="animation$ | async"
      [ngStyle]="{
        top: coords.imageY + 'px',
        left: coords.imageX + 'px'
      }"
    />
  </ng-container>

  <form [formGroup]="form">
    <input
      type="file"
      id="img"
      name="img"
      accept="image/*"
      (change)="handleFileUpload($event)"
      formControlName="image"
    />
    <select formControlName="animation">
      <option></option>
      <option *ngFor="let animation of animations">{{ animation }}</option>
    </select>
    <input type="checkbox" formControlName="container" />
    <input type="number" formControlName="containerHeight" />
    <input type="number" formControlName="containerWidth" />
    <input type="number" formControlName="imageX" />
    <input type="number" formControlName="imageY" />
  </form>

  <button (click)="download()">Download</button>
</div>
