<div class="container">
  <img [src]="image$ | async" #img [className]="animation$ | async" />

  <form [formGroup]="form">
    <input
      type="file"
      id="img"
      name="img"
      accept="image/*"
      (change)="handleFileUpload($event)"
      formControlName="image"
    />
    <select formControlName="animation">
      <option></option>
      <option *ngFor="let animation of animations">{{ animation }}</option>
    </select>
  </form>

  <button (click)="download()">Download</button>
</div>
